* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2ebe3;
  font: 14px Montserrat, sans-serif;
}

.product-preview-card {
  display: flex;
  height: 430px;
  width: 575px;
  background-color: #fff;
  border-radius: 10px;
}

.product-picture-card,
.product-info-card {
  height: 100%;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

@media all and (max-width: 575px) {
  .product-preview-card {
    flex-direction: column;
    height: 645px;
    width: 345px;
  }

  .product-picture-card {
    height: 40%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .product-picture-card img:first-child {
    display: none;
  }

  .product-picture-card img:last-child {
    display: block !important;
  }

  .product-info-card {
    height: 60%;
    width: 100%;
    padding: 25px !important;
  }

  .product-info-card button {
    padding: 14px 94px !important;
  }
}
